/* RESET */

* {
  font-family: "Lato", sans-serif;
}

.img-banner {
  width: 1920px;
  height: 720px;
  object-fit: cover;
}

.btn {
  border-radius: 0;
}

.bg-primary-color {
  background-color: #FFF;
}

.bg-secondary-color {
  background-color: #ECE8EA;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7A7A7A;
}

/* NAVBAR */

#navbar {
  border-bottom: 1px solid #7A7A7A;
}

#navbar a:hover {
  color: #7A7A7A;
}

#navbar .navbar-brand {
  display: flex;
}

#navbar .navbar-brand img {
  width: 45px;
  object-fit: cover;
}

#navbar .navbar-brand span {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 0.5em;
}

#navbar #navbar-items .navbar-nav {
  display: flex;
  width: 100%;
  justify-content: end;
}

#navbar #navbar-items .navbar-nav .nav-item {
  margin: 0 0.5em;
}

#btn-toggler {
  border: 2px solid #050505;
  box-shadow: none;
}

/* SLIDER */

#slider {
  margin-top: 8em;
  margin-bottom: 2em;
}

#slider .carousel-caption {
  margin-bottom: 3em;
}

#slider .carousel-caption h2 {
  font-size: 1.5em;
  text-shadow: #050505 2px 2px;
}

#slider .carousel-caption .btn {
  font-size: 1em;
  margin-top: 0.5em;
}

#slider .carousel-control-prev i,
#slider .carousel-control-next i {
  font-size: 3em;
  color: #050505;
}

#slider .carousel-indicators [data-bs-target] {
  background-color: #020202;
}

#slider .carousel-indicators .active {
  background-color: #000000;
}

@media(min-width: 1024px) {
  #slider .carousel-caption {
    margin-bottom: 15em;
  }

  #slider .carousel-caption h2 {
    font-size: 4em;
    text-shadow: #050505 3px 3px;
  }

  #slider .carousel-caption .btn {
    font-size: 1.5em;
    padding: 0.3em 0.8em;
    margin-top: 1.25em;
  }

  #slider .carousel-indicators [data-bs-target] {
    width: 3em;
    margin-bottom: 7em;
  }

  #slider .carousel-control-prev i,
  #slider .carousel-control-next i {
    font-size: 5em;
    color: #050505;
  }
}

/* MINI BUNNERS */

#mini-bunners {
  margin-bottom: 4em;
}

#mini-bunners .card {
  padding: 2em 0.3em;
  border-radius: 0;
  margin-bottom: 1em;
  box-shadow: 20px 20px 15px 0px rgb(44 44 44 / 15%)
}

#mini-bunners .card i {
  font-size: 4em;
}

#mini-bunners .card .card-title {
  margin-bottom: 1.5em;
}

#mini-bunners .card .btn {
  width: fit-content;
  margin: 1.5em auto 0 auto;
  padding: 0.6em 1.2em;
}

@media(min-width: 1024px) {
  #mini-bunners {
    margin-top: -6em;
  }

  #mini-bunners .card {
    min-height: 100%;
  }
}

/* DESTAQUES */

#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title::before {
  width: 75px;
  border-top: 4px solid #7A7A7A;
  content: "";
  position: absolute;
  bottom: 2em;
}

#featured-container #featured-images {
  margin-top: 2em;
}

#featured-container #featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-container #featured-images img {
  height: 100%;
  object-fit: cover;
}

#featured-container #featured-images .banner-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  opacity: 0.6;
  transition: 0.5s;
}

#featured-container #featured-images .banner-content h3 {
  font-size: 1.35rem;
  text-align: center;
}

#featured-container #featured-images .col-md-4 > .banner-content:hover {
  opacity: 0.8;
}

@media(min-width: 1024px) {
  #featured-container .title {
    font-size: 2.4em;
  }
  
  #featured-container .title::before {
    bottom: 1.5em;
  }

  #featured-container #featured-images .banner-content {
    opacity: 0;
  }
}

/* INFORMAÇÕES */

#info-container #info-content {
  height: 100%;
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-container #info-numbers {
  margin: 1.5em 0;
}

#info-container #info-numbers h3 {
  font-size: 3em;
}

#info-container #info-banner {
  display: flex;
  align-items: center;
  margin-bottom: 4em;
}

#info-container #info-banner img {
  height: 100%;
  object-fit: cover;
}

@media(min-width: 1024px) {
  #info-container #info-content {
    padding: 3.5em;
  }
}

/* INFO CONTACT */

#info-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#info-contact a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #64b161;
}

#info-contact a span {
  transition: all 0.3s ease-in;
}

#info-contact a:hover span {
  color: #64b161;
}

#info-contact a img {
  width: 35px;
  margin-left: 15px;
}

/* FOOTER TOP*/

#footer {
  padding: 3em 2em;
}

#footer #footer-top {
  margin-bottom: 2em;
}

#footer #footer-top, #footer-top i {
  color: #FFFFFF;
}

#footer #footer-top #social-icons {
  text-align: right;
}

#footer #footer-top #social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#footer #footer-top #social-icons i:hover {
  color: #7A7A7A;
}

/* FOOTER DETAILS */

#footer #footer-details {
  margin-bottom: 3em;
}

#footer #footer-details #newsletter-container, #footer #footer-details #contact-container, #footer #footer-details #links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer #footer-details h3 {
  color: #FFFFFF;
  margin-bottom: 1.5em;
}

#footer #footer-details #newsletter-container input {
  border-radius: 0;
  border: none;
}

#footer #footer-details #links-container li {
  margin-bottom: 0.5em;
}

#footer #footer-details #links-container li a {
  text-decoration: none;
}

#footer #footer-details #links-container li a:hover {
  color: #FFFFFF;
}

#footer #footer-details #newsletter-container .newsletter-response {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer #footer-details #newsletter-container .newsletter-response p {
  margin: 0;
  color: white;
}

/* FOOTER BOTTOM */

#footer #footer-bottom {
  border-top: 1px solid #7A7A7A;
  padding-top: 2em;
}

#footer #footer-bottom i {
  margin-left: 2px;
  color: #E61E10;
}

#footer-details {
  margin: 0 0.8em;
}

@media(min-width: 1024px) {
  #footer #footer-details #newsletter-container {
    padding-right: 3em;
  }

  #footer #footer-details #links-container {
    padding-left: 2em;
  }

  #footer #footer-details #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7A7A7A;
    border-right: 1px solid #7A7A7A;
  }
}
